.search-detail-container {
  width: 385px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-top: #dbdbdb 0.5px solid;
  padding: 5px;
  margin: 0;
}
.img-info {
  display: flex;
}

.search-detail-container img {
  width: 70px;
  height: 105px;
  margin-right: 5px;
}
.search-detail-container .title-year {
  margin-left: 10px;
  margin-top: 10px;
  width: 260px;
}

.search-detail-container .year {
}

.search-detail-container .title {
  font-weight: 700;
  margin-bottom: 20px;
}

.search-detail-container button {
  width: 120px;
}
